@import url("https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap");

body {
  font-family: "Buda", cursive;
  text-align: center;
  /* background-image: url("https://c4.wallpaperflare.com/wallpaper/927/454/476/book-magic-glamour-spirituality-wallpaper-preview.jpg"); */
  background-image: url("https://images.unsplash.com/photo-1523681504355-8b4860f99a58?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNvdWx8ZW58MHx8MHx8&w=1000&q=80");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 36px;
  list-style-type: none;
}

.nameList {
  /* border: 2px solid pink; */
  background-color: rgb(233, 150, 122, 0.2);
  border-radius: 30px;
  text-decoration: none;
  text-shadow: lemonchiffon;
  text-decoration-style: none;
  color: inherit;
  width: 150px;
}

.linkNamesList {
  text-decoration: none;
  color: darkred;
  text-shadow: 10px 5px 10px rgb(78, 5, 5);
}
.linkNamesList:hover {
  color: rgb(219, 25, 90);
  zoom: 105%;
}
#title {
  font-size: 60px;
  font-weight: 900;
}
h1 {
  font-size: 45px;
  /* font-weight: bolder; */
  /* credit https://www.sliderrevolution.com/resources/css-text-animation/ */
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 1;
  margin: 10px 0;
}
h2 {
  color: darkred;
}
h3 {
  color: darkslategray;
  font-size: 18px;
}
p {
  font-size: 30px;
  animation: pulse 6s infinite;
  margin: 150px;
}
@keyframes pulse {
  0% {
    color: #001f3f;
  }
  100% {
    color: #4b450f;
  }
}

.navbarList {
  text-decoration: none;
  color: dimgray;
  font-size: 20px;
}
.navbarList:hover {
  color: darkslategrey;
}
.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  left: 2%;
  margin-top: 5%;
}
.menuIcon {
  position: absolute;
  left: 4%;
}
.compDiv {
  margin-top: 18%;
}

.form {
  background-color: rgb(250, 250, 209, 0.25);
  opacity: 0.9;
  border-radius: 35px;
  width: fit-content;
  margin: 0 auto;
  padding: 50px;
}

#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
}
#linkedin,
#github {
  width: 25px;
  margin: 0 5px;
}
.list2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 36px;
  list-style-type: none;
}
.starList {
  text-decoration: none;
  font-size: 14px;
  list-style-type: none;
  display: flex;
  width: 350px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  background-color: rgb(233, 150, 122, 0.2);
  border-radius: 35px;
  padding: 15px;
  margin: 5px 5px;
}
.starImage {
  height: 150px;
}
.input {
  width: 250px;
  color: darkred;
  border-color: lightsalmon;
  border-radius: 30px;
  text-align: center;
  background-color: aliceblue;
}
::placeholder {
  color: lightsalmon;
  opacity: 0.6;
  padding: 5px 10px 20px 10px;
}
.link {
  background-color: rgb(233, 150, 122, 0.2);
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  background-image: url(https://media3.giphy.com/media/q4KDyjMkgitFnBt2k8/200w.webp?cid=ecf05e47wbr9vhhbxzdpdm8b3814rp01wbmwtk5zbv4t8ewt&rid=200w.webp&ct=g);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  line-height: 1;
  margin: 10px 0;
  border-radius: 35px;
  margin: 0 35px;
}
#delete {
  position: absolute;
  right: 50px;
  bottom: 50px;
  margin: auto 0;
  opacity: 0.5;
}
.submit {
  border-radius: 35px;
  color: darkred;
}
#search {
  height: 30px;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  #title {
    font-size: 27px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 18px;
    background-color: rgb(255, 235, 204, 0.7);
    border-radius: 35px;
    padding: 15px 15px;
    margin: 90px 10px 0 10px;
  }
  .navbarList {
    font-size: 16px;
  }
  #copyright {
    font-size: 10px;
  }
  #linkedin,
  #github {
    width: 15px;
    margin: 2px 5px;
  }
  .list {
    font-size: 21px;
  }
  .nameList {
    margin: 5px 5px;
  }
  .form {
    font-family: 18px;
    max-width: min-content;
    margin-top: 70px;
    padding: 5px;
  }
  .starList {
    font-size: 5px;
  }
  .link {
    font-size: 13px;
  }
  .compDiv {
    margin-top: 80px;
  }
  #deleteStar {
    opacity: 0.3;
  }
  .starImage {
    height: 100px;
  }
  #search {
    height: 14px;
    width: 100px;
    font-size: 11px;
  }
}
